body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  margin: 0;
  padding: 0;
  background: #354773;
}

.countdown{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20% auto;
}

.time-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: sans-serif;
  padding: 0 30px;
  border-right: 1px solid #ffffff;
  user-select: none;
}

.time-section:last-child{
  border: none;
}

.count{
  font-size: 50px;
}

.units{
  font-size: 15px;
}